<div class="message-page">
	<header>
		<div class="row nav">
			<a href="#/" class="btn btn-default"><i class="icon-reorder"></i></a>
			<p class="pull-right">
				{{data.number_matched}}/{{data.total_mutal_friends}} mutual friends
			</p>
		</div>
		<div class="row">
			<div class="guess-box text-center">
				<form class="form-inline">
					<input type="text" class="form-control" ng-model="guess" placeholder="Guess a name" /><button hm-tap="makeGuess(guess)" class="btn btn-small btn-primary">Guess</button>
				</form>
			</div>
		</div>
	</header>

	<div class="message-page-container">
		<div class="messages-wrapper">
			<div class="row message ng-class:message.sender" ng-repeat="message in data.messages_list">
				{{message.text}}
			</div>
		</div>
	</div>


  <div class="text-center send-message-wrapper">
  	<div class="send-message-margin">
  		<form class="form-inline">
	  		<input type="text" class="form-control" ng-model="messageText" /><button hm-tap="sendMessage(messageText)" class="btn btn-small btn-primary">Send</button>
	  	</form>
    </div>
  </div>
</div>


