<div class="message-page">
	
	<div class="row">
		<a href="#/" class="btn btn-default"><i class="icon-arrow-left"></i> Back</a>
	</div>
	<div class="row text-center">
		<p class="lead">
			0/4 mutual friends
		</p>
		<input type="text" placeholder="Guess a name" /><button class="btn btn-small btn-primary">Guess</a>
	</div>

	<div class="row text-left">
		Hey what is your name?
	</div>
	<div class="row text-right">
		Yo! My name is Bryan!
	</div>
	<div class="row text-left">
		Meh, that is cheating.
	</div>

  <div class="row text-center message-wrapper">
    <input type="text" /><button class="btn btn-small btn-primary">Send</button>
  </div>
</div>


