<div class="messages-page">
  <div class="message-container">
    <a href="#/message/{{message.id}}" ng-repeat="message in messages">
    	<div class="row">
    		<div class="col-8">{{message.time}}</div>
    		<div class="col-4 text-right">
          <div class="row">
            {{message.current}} / {{message.total}}
          </div>
          <div class="row">
             {{message.friends}}
          </div>
        </div>
    	</div>
    </a>
  </div>
</div>

<a href="#/message/4" class="btn btn-block btn-primary">
  New Message!
</a>  