<div class="messages-page">
  <div class="message-container">
    <a href="#/message/{{message.id}}" ng-repeat="message in messages" >
    	<div class="row message-box">
    		<div class="col-6">
          <div class="row message-time">
            <strong>{{message.time}} ago</strong>
          </div>
          <div class="row">
            <em>
              {{message.last_message}}
            </em>
          </div>
        </div>
    		<div class="col-6 text-right">
          <div class="row">
            {{message.current}} / {{message.total}}
          </div>
          <div class="row">
             {{message.friends}}
          </div>
        </div>
    	</div>
    </a>
  </div>

  <div class="row">
      <a hm-tap="" class="new-message-btn btn btn-block btn-primary">
      New Message!
    </a> 
  </div> 
</div>