@import "_mixins";

.message-page {
  height: 100%;

  header {
    position: fixed;
    width: 100%;
    top: 0;

    .nav {
      background-color: rgba(33,33,33,.5);
      padding: 5px;
      border-bottom: 1px solid rgba(33,33,33,1);
      color: white;

      p {
        line-height: 40px;
        margin: 0;
        padding: 0;
      }
    }
  }
	
  .guess-box, .send-message-margin {
    border: 1px solid rgba(33,33,33,1);
    border-top: 0px;
    padding: 5px;
    background-color: rgba(33,33,33,.3);


    margin: 0px 10px;

    .form-inline {
      input[type="text"], .btn {
        height: 30px;
      }

      input[type="text"] {
        @include rounded(top, right, 0);
        @include rounded(bottom, right, 0);
        border-right: 0;
        width: 200px;
      }

      .btn {
        @include rounded(top, left, 0);
        @include rounded(bottom, left, 0);
        vertical-align: bottom;
        width: auto;
      }
    }    
  }

  .message-page-container {
    height: 100%;
    margin: 0px 15px;

    padding: 100px 0 50px 0;

    .messages-wrapper {
      height: 100%;
      overflow-y: auto;

      .message {
        padding: 5px 10px;
        width: 80%;
        @include border-radius(5px);
        margin-bottom: 5px;

        &.me {
          float: right;
          $bg: rgba(150, 200, 200, 1);
          text-align: right;
          background-color: $bg;
          border: 1px solid darken($bg, 25);
        }

        &.them {
          float: left;
          text-align: left;
          $bg: rgba(200, 150, 200, 1);
          background-color: $bg;
          border: 1px solid darken($bg, 25)
        }
      }
    }
  }

  .send-message-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;

    .send-message-margin {
      border: 1px solid black;
      border-bottom: 0px;
    }
  }
}